.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 0 48px;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}

@media (max-width: 1023.9px) {
  .catalog {
    max-width: 940px;
  }
}

@media (max-width: 767.9px) {
  .catalog {
    max-width: 690px;
  }
}

@media (max-width: 487.9px) {
  .catalog {
    max-width: 420px;
  }
}
